

NUXT_AUTH_REFRESH_ENABLED=true

# Database URL test

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/jetnuxtprime"

#Secrets for JWT 
# *********************************************************************
# *********************************************************************
#           REPLACE THESE SECRETS WITH YOUR OWN SECRETS
# *********************************************************************
# *********************************************************************
JWT_SECRET=bb15c49dceab89b547509a666c1aa72c4e623b266f3596c191ce4b18b4e8f3e5
REFRESH_SECRET=4e3ae347a9eeaa24e6d9ad1630db7e25219cca1f66a9d82308d5bcda18b45eda

ACCESS_TOKEN_TTL=10m
REFRESH_TOKEN_TTL=1d
